<!-- Footer -->
<div class="footer clearfix">
    <div class="container">
        <div class="payment-options">
            <img class="ssl" src="/images/ssl-icon.png">
            <img src="/images/visa-icon.png">
            <img src="/images/mc-icon.png">
            <img src="/images/discover-icon.png">
            <img src="/images/ae-icon.png">
            <img src="/images/skrill_2.png">
            <img src="/images/paypal-icon.png">
            <img src="/images/paysafe_2.png">
            <img src="/images/mobile_pay_2.png">
        </div>
        <div class="footer-content">
            <div class="sponsors clearfix">
                <img src="/images/kotaku.png">
                <img src="/images/forbes.png">
                <img src="/images/cnn.png">
                <img src="/images/disney.png">
                <img src="/images/nickelodeon.png">
            </div>
            <div class="columns-container clearfix">
                <div class="columns clearfix">
                    <div class="column">
                        <p class="category">About Us</p>
                        <p class="ellipsis"><a href="/pages/guidelines">Guidelines</a></p>
                        <p class="ellipsis"><a href="/pages/howitworks">How it Works</a></p>
                        <p class="ellipsis"><a href="/pages/faq">FAQ</a></p>
                        <p class="ellipsis"><a href="#">Advertising</a></p>
                    </div>
                    <div class="column">
                        <p class="category">Help</p>
                        <p class="ellipsis"><a href="#">Support</a></p>
                        <p class="ellipsis"><a href="#">Contact Us</a></p>
                        <p class="ellipsis"><a href="#">Terms of Use</a></p>
                        <p class="ellipsis"><a href="#">Privacy Policy</a></p>
                    </div>
                    <div class="column">
                        <p class="category">Discover</p>
                        <p class="ellipsis"><a href="#">Adventure</a></p>
                        <p class="ellipsis"><a href="#">Action</a></p>
                        <p class="ellipsis"><a href="#">Animals</a></p>
                        <p class="ellipsis"><a href="#">Anime</a></p>
                    </div>
                    <div class="column">
                        <p class="category">&nbsp;</p>
                        <p class="ellipsis"><a href="#">Art</a></p>
                        <p class="ellipsis"><a href="#">Biographies</a></p>
                        <p class="ellipsis"><a href="#">Comedy</a></p>
                        <p class="ellipsis"><a href="#">Drama</a></p>
                    </div>
                    <div class="column">
                        <p class="category">&nbsp;</p>
                        <p class="ellipsis"><a href="#">Foreign</a></p>
                        <p class="ellipsis"><a href="#">Horror</a></p>
                        <p class="ellipsis"><a href="#">Indie</a></p>
                        <p class="ellipsis"><a href="#">Musicals</a></p>
                    </div>
                </div>
            </div>
            <div class="bottom-bar clearfix">
                <div class="left">
                    <p>&copy;
                        <?php echo date('Y'); ?> mytv Ltd. All rights reserved.</p>
                </div>
                <div class="social">
                    <a href="#">
                        <img src="/images/fb.png">
                    </a>
                    <a href="#">
                        <img src="/images/tw.png">
                    </a>
                    <a href="#">
                        <img src="/images/yt.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/carousel.js"></script>
<script type="text/javascript" src="/javascripts/popup.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
