<!-- Meta Tags -->
<meta charset="utf-8">
<title>MyTV</title>

<!-- CSS -->
<link rel='stylesheet' href='/stylesheets/style.css' />

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
