<div class="popup">
  <h2>Fund this campaign</h2>
  <div class="info">
    <p><strong>Campaign:</strong> Help me bring The Simpsons back!</p>
    <p><strong>Creator:</strong> Jon Smith</p>
  </div>
  <div class="content">
    <p>
      To fund this campaign, select which payment method you want below.
    </p>

    <div class="select-option">
      <a class="choose choose-stripe" data-val="stripe">
        Stripe
      </a>
      <a class="choose choose-paypal" data-val="paypal">
        PayPal
      </a>
    </div>

    <div class="options clearfix">
      <div class="option stripe">
        <form class="" action="index.html" method="post">
          <div class="input half">
            <input type="text" name="fname" value="" placeholder="First Name">
          </div>
          <div class="input half mt-0">
            <input type="text" name="lname" value="" placeholder="Last Name">
          </div>
          <div class="input">
            <input type="text" name="cardnum" value="" placeholder="Card Number">
          </div>
          <div class="input half">
            <input type="text" name="expdate" value="" placeholder="MM/YY">
          </div>
          <div class="input half">
            <input type="text" name="cvc" value="" placeholder="CVC">
          </div>
          <div class="input">
            <button type="button" name="submit" class="btn">Fund Campaign</button>
          </div>
        </form>
        <a class="back">Back</a>
      </div>
      <div class="option paypal">
        do paypal

        <a class="back">Back</a>
      </div>
    </div>
  </div>
</div>
