<div class="popup">
  <h2>Report Campaign</h2>
  <div class="info">
    <p><strong>Campaign:</strong> Help me bring The Simpsons back!</p>
    <p><strong>Creator:</strong> Jon Smith</p>
  </div>
  <div class="content">
    <p>
      Is there something you would like to report?
    </p>
    <form class="" action="index.html" method="post">
      <div class="input">
        <select class="" name="">
          <option>Explicit Images</option>
          <option>Vulgar Language</option>
          <option>Unrelated Content</option>
          <option>Offensive</option>
        </select>
      </div>
      <div class="input">
        <textarea name="name" placeholder="Additional details..."></textarea>
      </div>
      <div class="input">
        <button type="button" name="submit" class="btn">Send</button>
      </div>
    </form>
  </div>
</div>
