<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="faq landing">
    <div class="parent">

        <!-- Top Nav -->
        <% include ../partials/header %>

        <!-- Full Width Banner -->
        <div class="main-media has-form">
            <h1>FAQ</h1>
            <form class="clearfix">
                <input type="input" placeholder="Search...">
                <input type="submit" value="SEARCH">
            </form>
        </div>

        <!-- Container -->
        <div class="content container">
            <div class="info-container clearfix">
                <div class="sections clearfix">
                    <div class="section-title">
                        <img src="/images/faq-item.jpg">
                    </div>
                    <div class="section-questions">
                        <div class="question">
                            <h4>What is mytv for?</h4>
                            <div class="answer">
                                <p>MyTV allows you to Revive your favorite shows that have been discontinued by creating petitions to bring these shows back to life. You can also Launch your own show projects on mytv that need further funding to develop
                                    and create, simply share with your fans and gain their support.</p>
                                <p>It also acts as a funding platform for Revive shows that have reached out to us having seen your petitions and are looking for further support, giving the power back to the viewers.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>What are the basics?</h4>
                            <div class="answer">
                                <h5>How do I start a Revive petition?</h5>
                                <p>You can start a petition by clicking on the "Revive" button at the top of the homepage. Firstly, you must create an account to be able to do this. Follow the simple steps and within minutes your petition will be live to
                                    share and be signed by the whole of the internet!</p>
                                <h5>How do I Launch a show?</h5>
                                <p>You can Launch your own show by click on the "Launch" button at the top of the homepage. You must create an account and add some further additional information to be able to do this. Follow the easy and simple steps, describe
                                    your show, link your first episode or upload artwork/screenshots then set a target goal you wish to hit to complete your project. Provide perks for those who back your show with certain levels of donations. Once you
                                    have done this your Launch will be live for everyone to see and support. </p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Who is mytv?</h4>
                            <div class="answer">
                                <p>We are a small Limited company based in Oxford, UK. We strive to achieve a site that dictates which shows are created by allowing you to be the deciding voice, instead of the heads of giant corporate companies who wouldn't
                                    know Friends from Lost! Every day we achieve amazing new things with the power of the internet and its voice and hope to continue to.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Will mytv be able to edit my Revive Petition or Launch page?</h4>
                            <div class="answer">
                                <p>Yes, we will be able to update your Revive page with higher quality images/descriptions if it is to feature on our homepage. This will only add to the attraction of your petition and generate more signatures. We will not
                                    directly edit Launch projects but we will advise users if they require advice on maximizing their Launch.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>What will happen when I've signed a petition?</h4>
                            <div class="answer">
                                <p>You will have raised your voice for the show you wish to see Revived. The only information we take for this is your name, email address (to keep to updated on the revival – optional) and also your country of residence.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Can I advertise myself on a Revive petition?</h4>
                            <div class="answer">
                                <p>No, the petitions are only to be used to collect signatures for lost shows. If you wish to advertise a show, please use the Launch feature. Any self-advertisement or misleading information on petitions will be removed by
                                    us. We retain the right to take full control of a petition if our <a href="/rulesofuse.php">Rules of Use</a> are not met.</p>
                            </div>
                        </div>



                        <hr>
                        <div class="question">
                            <h4>Can I create more than one revival?</h4>
                            <div class="answer">
                                <p>Yes, you can create a revival for several shows you miss. Although there must only be one main petition per show. You will not be able to create a Revive petition if one already exists, this stops the signatures from being
                                    spread across many different petitions for the same show.</p>
                                <p>If there happen to be several of the same petition we will merge the petitions, adding the unique signatures to the largest petition page of the lot.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Where do petitions come from?</h4>
                            <div class="answer">
                                <p>Petitions come from you! If you love a show that was discontinued and want to see it back, simply create a Revive Petition and get all of your friends to sign and share it. If it becomes high profile enough with a lot of
                                    signatures the creators will notice it and look in to reviving your favorite show!</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Why sign a petition?</h4>
                            <div class="answer">
                                <p>It allows the original creators, directors, writers, even the stars of the show see that there is still a large following that would watch if it were to be revived or remade. It acts as data collection in the form of giving
                                    the internet a voice for the shows they want to see.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>What do you get in return for signing a petition?</h4>
                            <div class="answer">
                                <p>You have the knowledge that if a show does come back on your screen that you had a say in it.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Why is Launch "all or nothing"?</h4>
                            <div class="answer">
                                <p>It provides less risk for everyone. The Launch pages must have realistic but specific goals set to achieve a full project as outlined on their page. Projects generally reach their goal or receive very little support. There
                                    is rarely any in-between.</p>
                                <p>If you set a $10,000 goal and are at $2,000 you already have a lot of people supporting the project. It motivates yourself and those who have backed the project to spread the work to see the project come alive.</p>
                                <p>If your show starts to receive a large amount of support it will appear on our "Rising" or "Trending" pages and this will increase the number of people who see it and therefore the number of people willing to support. The
                                    initial support is super important, so share it as much as you can!</p>
                                <p>No one is charged until a project meets its funding goal and the funding period ends. This gives backers time to evaluate a project and also gives us time to look in to any concerns raised by the backers.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Can I create more than one Launch page?</h4>
                            <div class="answer">
                                <p>No, you are limited to one Launch per account at any one time. You can create another Launch project once one has hit its target or fails to.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Where do Launch projects come from?</h4>
                            <div class="answer">
                                <p>Launch projects are created by both us at MyTV and those of you hoping to get funding to create your own shows. We will work alongside those who are partnered with MyTV (10% extra from their cut to be featured etc.) to
                                    make sure their Launch pages are maximising their potential. We will also work with the creators of the shows that have seen a massive response from the revival petitions who have reached out to us and wish to start
                                    crowd funding to revive their show.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Why back projects?</h4>
                            <div class="answer">
                                <p>You may have a favorite YouTuber who you would like to see make more high production content or a friend who is trying to make it in the industry. Support comes from all over the internet. Some of you will be inspired,
                                    fall in love with trailers or pilot episodes and just need to see more! It's more than just backing a project, it's supporting the creation of something bold and unique.</p>
                                <p>You may even be drawn to the rewards of backing a project outlined on a Launch page.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>What do you get in return for backing a Launch?</h4>
                            <div class="answer">
                                <p>You get the ability to follow the project closely and see it come to life. There are a wide range of rewards set by the creators of the Launch pages, these will vary. They can often include artwork, hard copies of the created
                                    content, early viewing opportunities, T-Shirts and so on.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>What are the fees?</h4>
                            <div class="answer">
                                <p>If a Launch is successfully funded, MyTV applies a 5% fee to the funds collected. Our payments processor will also apply payment processing fees (~3-5%). The breakdowns are available here.</p>
                                <p>The fees are there to allow us to keep improving the site at very little cost to the backers and the creators. The percentage we take goes towards creating an efficient and effective way for communities to grow and support
                                    each other on MyTV.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Is it safe?</h4>
                            <div class="answer">
                                <p>Our donation system features the very best in secure payment encryption technology. Your information will never be given to anyone and we will never request access to your account.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Are there any time limits?</h4>
                            <div class="answer">
                                <p>There are no time limits for petitions, they can continue to build unique signatures until they reach a point where the writers have to address the fact that their show is so massively in demand.</p>
                                <p>Launch projects do have a time limit; this is set by the creator along with a target goal for funding.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>How will I know if someone backs my Launch?</h4>
                            <div class="answer">
                                <p>You will receive an email letting you know that someone has made a contribution along with their message. There is also be a feature on the launch page that shows the most recent list of backers for the project.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Is my country supported?</h4>
                            <div class="answer">
                                <p>Supported countries and currencies include: United States of America ($USD), United Kingdom (£GBP), Canada ($CAD), Australia ($AUD), and some European Union countries that use the Euro as their official currency (€EUR).</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Can donators give privately?</h4>
                            <div class="answer">
                                <p>Of course, you retain the right to stay anonymous in the view of the public with any or all of your donations. However, the Launch creator will always know who the donator is.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>What about taxes?</h4>
                            <div class="answer">
                                <p>We are unable to provide specific tax advice since everyone's situation is different. However, most donations on MyTV are simply considered to be 'personal gifts' which are not taxed as income in the US. Again, every situation
                                    is different so please consult with a tax professional in your area.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <div class="sections clearfix">
                    <div class="section-title accountability">
                        <img src="/images/faq-item.jpg">
                    </div>
                    <div class="section-questions clearfix">
                        <div class="question">
                            <h4>Who is responsible for completing a Launched project?</h4>
                            <div class="answer">
                                <p>The Launch creator is responsible for completing their project. MyTV is not involved in the development.</p>
                                <p>We do not guarantee projects or investigate a creator's ability to complete their project. You the fans have the power to decide the validity of a project and its worthiness to be funded.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>How do you know the creators will follow through with promises?</h4>
                            <div class="answer">
                                <p>Successful projects will become very popular and closely followed. The creators are putting their reputation and brands and risk if they do not follow through.</p>
                                <p>You should look for the creators who have a clear plan, show experience, have evidence of their work and previous creative ventures. Make an informed decision on the projects you choose to support.</p>
                                <p>Check for social media connections such as posts on their pages that link directly to their Launch page to make sure that it is them. Feel free to request information from a creator via the "Contact me" button on their
                                    Launch page.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>How do we know a person is who they say they are?</h4>
                            <div class="answer">
                                <p>You may be friends with the creator or have heard about the Launch from a trusted source.</p>
                                <p>Look at their content, check that their social media pages support their Launch project. Make sure they have created content previously. Send them a message to request more information via the "Contact me" button on their
                                    Launch page.</p>
                                <p>In the creator's content bio, you will be able to see their social media links and other information. You will also find verified accounts which have a check mark next to it.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>What should I do if I'm having issues reaching my Launch goal?</h4>
                            <div class="answer">
                                <p>If you are having issues, the best thing to do is be transparent. Let the people supporting your project know what is happening by creating posts on the Updates section of your Launch page.</p>
                                <p>People will generally be very understanding as we all know things very rarely go exactly to plan and can take longer than expected. Often execution to create the best content will take longer than originally expected, this
                                    is to the backer's benefit, although there may be a delay, the project may be even better than they had hoped.</p>
                                <p>If the problems are severe, you the creator will have to find a resolution. Such as offering refunds, detailing exactly how funds were used and other actions to satisfy backers. For more information, see our <a href="/termsofuse.php">Terms of Use</a>.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>What are Launched projects obligated to do upon reaching their goal?</h4>
                            <div class="answer">
                                <p>The creator is responsible for completing the project and fulfilling each of their outlined rewards. Remember – MyTV isn't a shop, we are not selling finished content, we simply provide an avenue for fans to help create
                                    something new. It is down to the creator to fulfill or resolve any issues that may arise. Each Launch becomes its own little community, discuss issues and be transparent with each other. For more information, see our
                                    <a href="/termsofuse.php">Terms of Use</a>.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Will money be refunded if a project doesn't reach its goal?</h4>
                            <div class="answer">
                                <p>No, MyTV doesn't issue refunds. All transactions are between backers and the Launch creators directly. Creators receive all funds (less fees) soon after their campaign ends.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Why can't MyTV guarantee project completion?</h4>
                            <div class="answer">
                                <p>MyTV is a platform for people to express their love of old shows and show support to new creative ideas. You no longer need to make your way up the corporate ladder to become a TV writer for a massive network, you can show
                                    your talents on MyTV and prove to the world that they've been missing something fantastic.</p>
                                <p>This does however mean that because we open the doors to all the wonderful, ambitious and genius ideas, many of the projects you see on MyTV are in the very early stages of development. There is a risk that projects can
                                    fail or not be up to the standard you had hoped, but that is out of our control, we simply provide the platform that combines creativity and support.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>How does MyTV protect the community?</h4>
                            <div class="answer">
                                <p>We are dedicated to monitoring suspicious activity. We keep an eye out at all times, but the report button often helps us to pinpoint issues that do not align with our rules. So if you notice anything suspicious do not
                                    hesitate to report it.</p>
                                <p>Remember, no one is charged until a project meets its funding goal and the funding period ends. This gives backers time to evaluate a project and also gives us time to look in to any concerns raised by the backers.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>I'm interested in partnering with MyTV, how do I go about this?</h4>
                            <div class="answer">
                                <p>If you're an organization, institution or entity interested in partnering with us, please reach out to <a href="mailto:partnerships@mytv.com" target="_blank">partnerships@mytv.com</a>.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>Does MyTV have a responsible security disclosure procedure?</h4>
                            <div class="answer">
                                <p>We do. If you've discovered a bug or vulnerability, please contact us <a href="#">here</a> and we'll make sure to have the issues looked at.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="question">
                            <h4>How do I report something to MyTV?</h4>
                            <div class="answer">
                                <h5>How do I report a copyright violation?</h5>
                                <p>If you think some material on MyTV infringes your copyright, please talk with a lawyer before filing a complaint with us. Misrepresenting that material infringes your copyright may subject you to liability for damages,
                                    including attorneys' fees and costs incurred by project creators or other parties.</p>
                                <p>If you've spoken with a lawyer and think your material is being infringed, try contacting the project creator directly using the "Contact me" button on the project page. If that doesn't work, you can submit a complaint
                                    using <a href="#">this form</a>.</p>
                                <p>For more information, please take a look at our <a href="#">Copyright and DMCA Policy</a>.</p>
                                <h5>How do I report a trademark violation</h5>
                                <p>If you believe a MyTV project is infringing on a trademark you hold, you can report a trademark violation by emailing <a href="mailto:copyright@mytv.com">copyright@mytv.com</a>. We'll evaluate and respond to every report
                                    we receive.</p>
                                <p>Please review our <a href="#">Trademark Policy</a> for more information about what details to include in your report.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ending">
                    <h3>Still need help? Contact us <a href="#">here</a></h3>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <% include ../partials/footer %>
    </div>
</body>

</html>
