<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="guidelines landing">
    <div class="parent">

        <!-- Top Nav -->
        <% include ../partials/header %>

        <!-- Full Width Banner -->
        <div class="main-media">
            <h1>Guidelines</h1>
        </div>

        <!-- Container -->
        <div class="content container">
            <div class="info-container clearfix">
                <p class="intro">Mytv is a community of people committed to bringing new things to life. Our community is founded on a few core values –– transparency, trust, and honesty. It's up to all of us to bring new ideas into the world, and to make sure that mytv
                    is a place that shares this spirit of support. We've got just a few rules that we hope you'll keep in mind along the way!</p>
                <br>
                <h3>1. Don't Spam.</h3>
                <p>This includes link-bombing, promoting a project where it shouldn't be promoted, sending unsolicited @'s on Twitter, hyping third-party services, and using email lists from outside sources, to name a few. The comment and messaging systems
                    on mytv are here so people can communicate, ask questions, and cheer one another along — not for spam.</p>
                <br>
                <h3>2. Don't be rude.</h3>
                <p>Conversation is an essential part of our community — we encourage backers to talk to creators and to talk to each other, especially when they have questions. All we ask is that those conversations stay honest and considerate. Don't post
                    obscene, hateful, or objectionable content. Don't post personal information. Don't post copyrighted content without permission. If you don't like a project, don't back it, simply move along. Please always have respect for our shared
                    space and the other folks visiting it.</p>
                <br>
                <h3>3. If you see something, say something.</h3>
                <p>If something seems off, let us know. Our Integrity team reviews every report we receive, and we take action when we see someone violating these guidelines. Sometimes that just means giving someone a warning; sometimes it means revoking
                    certain privileges or accounts entirely. The best way to avoid anything like that happening to you? Don't spam, and don't be a jerk.</p>
                <p>As our community grows and changes, so will the way we evaluate and enforce these guidelines. It's up to all of us to ensure that mytv remains a safe and fun place to launch and back projects. Thanks for being a part of the mytv community!</p>
                <hr style="margin-top:40px;">
                <h1 style="margin-top:10px; text-align:center;">Important Rules</h1>
                <h3>1. Launch projects must create something to share with others.</h3>
                <p>Mytv can be used to create all sorts of things, but every project needs a plan for creating something and sharing it with the world. At some point, the creator should be able to say: "It's finished. Here's what we created. Enjoy!"</p>
                <br>
                <h3>2. Projects must be honest and clearly presented.</h3>
                <p>Our community is built on trust and communication. Projects can't mislead people or misrepresent facts, and creators should be candid about what they plan to accomplish.</p>
                <br>
                <h3>3. Projects can't fundraise for charity, offer financial incentives, or involve prohibited shows.</h3>
                <p>We're all in favor of charity and investment, but they're not permitted on mytv. Projects can't promise to donate funds raised to a charity or cause, and they can't offer financial incentives like equity or repayment.</p>
                <p>These rules don't cover every possible use of mytv, but they explain our purpose and perspective.</p>
            </div>
        </div>

        <!-- Footer -->
        <% include ../partials/footer %>
    </div>
</body>

</html>
